{% extends "template/base.html" %}

<!-- HEAD**************************************** -->
<!-- TITLE-->
{% block title %}500 {% endblock %}

<!-- EXTRAHEAD-->

<!-- BODY**************************************** -->
<!-- NAVIGATION -->
{% block navigation %}{% endblock %}
<!-- CONTENT -->
{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>Oops!</h1>
            <h2>500 Internal Server Error</h2>
            <div class="error-details">
                Sorry, an internal server error has occured!
            </div>
            <div class="error-actions">
                <a href="/admin" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span> Take Me Home </a>
                <!--<a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg">-->
                    <!--<span class="glyphicon glyphicon-envelope"></span> Contact Support </a>-->
            </div>
        </div>
    </div>
</div>

</div><!-- /container -->

{% endblock content %}

<!-- FOOTER -->

<!-- EXTRA_STYLE -->
{% block extra_style %}
{{ super() }}
<style>
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>
{% endblock %}